<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      VideosApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">VideosApp</ion-title>
    </ion-toolbar>
  </ion-header>
        <img src="https://avatars.githubusercontent.com/u/52706456?v=4" alt="jaredovisk">
    <h1>Jared Ricioli</h1>
    <p>Estagiário na Wearplace<br>
       Jared.ricioli@live.com</p>
    <a class=btn href="wa.me/5561993969267"><button><ion-icon name="logo-whatsapp"></ion-icon>&ensp;Whatsapp</button></a>
</ion-content>
